body{
    text-align: center;
}
.heading{
    display: inline-flex;
    
}
.heading>img{
    width: 60px;
    padding:5px 20px ;
}
.all-options{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.user-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}
.computer-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}
.icons{
    padding: 20px;
}
.images{
    width: 80px;
}