body {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  text-align: center;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 350px;
}
button {
  border-radius: 10px;
  background-color: aliceblue;
  width: 150px;
}
button:hover {
  transform: scale(1.2);
}
img {
  width: 50px;
  padding: 10px;
  border: none;
}
#reset{
    width: 500px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
}
#reset:hover{
    transform: scale(1.2);
}
.announce {
  font-size: 40px;
}
