body{
    display: flex;
    background: #fffcf2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    padding: 0;
    width: fit-content;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background: #fff;
}
.left-pane{
    width: 40%;
    height: 100%;
    color: #e2dcde;
    position: relative;
    padding: 0;
    margin: 0%;
    text-align: center;
}
.left-pane a{
    color: #e2dcde;
    font-style: italic;
    font-weight: 700;
}
.left-pane img{
    width: 100%;
}
.left-pane h1{
    position: absolute;
    bottom: 30%;
    font-size: 60px;
    background: rgba(255,255,255, 0.6) ;
    width: 100%;
    color: #001d3d;
}
.left-pane div{
    position: absolute;
    bottom: 5%;
    left: 20%;
}
.right-pane{
    width: 58%;
    padding: 2% 0;

}

.info-page{
    color: #001d3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-page p,h2{
    padding: 0 10%;
}
.info-page p{
    font-size: 20px;
}
.info-page a{
    color: #0f4c5c;
    text-decoration: none;
    font-weight: 900;
}
.singup-part{
    padding: 0.2rem 5%;
    background: #ccc5b93a;
}
.submit{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
    justify-content: space-around;
}
.submit section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem 0;
    margin: 0.25rem;
}
.submit input{
    border: none;
    margin: .5rem;
    border-radius: 5px;
    height: 2rem;
}
.btn{
    margin: 2rem 0;
    border: none;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    color: #fffcf2;
    background: #001d3d;
    font-weight: 600;
    font-size: 15px ;
    transition: all 1s;
}
.submit input:focus{
    border: 4px solid #0077b6 ;
}


.submit input:invalid{
    border: 2px solid #9a031e;
}
.btn:hover{
    background: #00b4d8;
    transform: scale(1.2);
    transition: all 1s;
}


