:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grid-width: 16;
}
body {
  background-color: #4c3457;
  text-align: center;
  color: #629098;
}
h1 {
  margin: 50px auto;
  font-size: 60px;
  text-align: center;
  align-self: center;
}
.btns{
  align-items: center;
  display: flex;
  justify-content: space-evenly;

}
.btn-style{
  border: none;
  background-color: #629098;
  padding: 10px;
  margin: 5px 20px;
  border-radius: 5px;
  color: #ffe7cd;
  justify-content: center;
}
.btn-style:hover {
  transform: scale(1.2);
  padding: 15px;
}
.contianer {
  display: inline-block;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  padding: 0;
  background-color: rgba(217, 219, 221, 0.993);
}
.grids {
  display: grid;
  max-height: 600px;
  max-width: 600px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  margin: 0;
  background-color: #fff;
  align-self: center;
  justify-self: center;
  padding: 0;
  width: var(--grid-width);
  height: var(--grid-width);
}
.grid-item:hover {
  background-color: #59787eab;
}
