:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
body {
  background-color: #4C3457;
  text-align: center;
  color: #629098;
  
}
h1{
  margin: 50px auto;
  font-size: 60px;
  text-align: center;
  align-self: center;
}
.contianer {
  display: inline-block;
  background-color: rgb(168, 103, 18);
  width: 200px;
  height: 200px;
  margin: auto;
}
.grids {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  background-color: aliceblue;
  align-self: center;
  justify-self: center;
  padding: 0.5em;
  width: 16px;
  height: 16px;
}
.grid-item:hover{
    background-color: #59787eab;
}